//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.top-nav.navbar-fixed-top
      div.container
        a.top-nav--logo-link(href="#")
          h3.heading.left IBM Bluemix Tone Analyzer Demo 
            //- span.top-nav--logo-wdc by Wildflame
        nav.top-nav--nav
          li.top-nav--nav-item
            a(href="#") About 
    div.row.header
      div.container